@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>@ViewBag.title</h1>

<table class="table">

    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Member Since</th>
        <th>Member ID</th>
    </tr>
    <tr>
        <td>@ViewBag.user.Username</td>
        <td>@ViewBag.user.Email</td>
        <td>@ViewBag.user.CreateDate</td>
        <td>@ViewBag.user.UserId</td>
        </tr>
    <tr>
        <td><a asp-controller="User" asp-action="Index">Return to Signup Page</a></td>
    </tr>
</table>

